.btn-primary {
    background-color: var(--accent-color)!important;
    border-color: var(--accent-color)!important;
}

.btn-primary:hover {
    background-color: #4a2745!important;
    border-color: #4a2745!important;
}
