:root {
    --primary-color: #6200EA;
    --secondary-color: #B388FF;
    --accent-color: #3700B3;
    --text-color: #333333;
    --bg-color: #F5F5F5;
    --light-color: #E8EAF6;
}


$primary-color: #6200EA;
$secondary-color: #B388FF;
$accent-color: #3700B3;
$text-color: #333333;
$bg-color: #F5F5F5;
$light-color: #E8EAF6; 
